<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RetoAlojamientosYUUAvb.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <RetoAlojamientosYUUAvb.Settings1>
            <setting name="Password" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>root</value>
            </setting>
        </RetoAlojamientosYUUAvb.Settings1>
    </applicationSettings>
  <appSettings>
    <add key="Usuario" value="retoaloj" />
    <add key="Password" value="elchapas23" />
    <add key="UsuarioApp" value="root" />
    <add key="PasswordApp" value="123" />
  </appSettings>
</configuration>